*.js
*.js.map
*.log
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
demo/.vscode/launch.json
demo-angular/app/*.js
!demo-angular/karma.conf.js
!demo-angular/app/tests/*.js
demo-angular/*.d.ts
!demo-angular/references.d.ts
demo-angular/lib
demo-angular/platforms
demo-angular/node_modules
demo-angular/.vscode/launch.json
